.ls {
    background: #001030;
    color: #fff;
    height: 75vh;
    border-radius: 10px;
    .ls-top {
        padding: 20px;
    }

    .ls-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            max-width: 140px;            
        }
        .menu {
            position: relative;
            padding: 10px 0;
            img {
                max-height: 20px;
                opacity: 0.8;
                cursor: pointer;
            }
            .sub-menu {
                position: absolute;
                top: 100%;
                right: 0;
                width: 130px;
                background: #fff;
                color: #000;
                padding: 20px;
                border-radius: 5px;
                display: none;
                hr {
                    margin: 8px 0;
                    border: none;
                    height: 1px;
                    background: #a4a4a4;
                }
                p {
                    font-size: 14px;
                    cursor: pointer;
                }
            }
            &:hover .sub-menu {
                display: block;
            }
        }
    }

    .ls-search {
        display: flex;
        align-items: center;
        background: #002670;
        gap: 10px;
        padding: 10px 12px;
        margin-top: 20px;
        border-radius: 10px;
        img {
            width: 16px;
        }
        input {
            background: transparent;
            border: none;
            outline: none;
            color: #fff;
            font-size: 11px;
            &::placeholder {
                color: #c8c8c8;
            }
        }
    }

    .ls-list {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 70%;
        .friends {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 13px;
            img {
                width: 35px;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
            .friends-info {
                display: flex;
                flex-direction: column;
                p {
                    font-size: 11px;
                    color: #9f9f9f;
                }
            }
            &:hover {
                background: #007eff;
                p {
                    color: #fff;
                }
            }
        }
    }
}
